.interesting2 {
  display: flex;
  &__wrappColumns {
    background-color: #6e99ae;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
    max-height: 770px;
    color: #fff;
    &__title {
      padding-top: 25px;
      min-height: 59px;
      border-bottom: 1px solid #b4d1e0;
      padding: 20px 25px;
    }
    &__columns {
      padding: 0 25px 25px 25px;
      max-height: 664px;
      :last-child {
        border: none;
      }
    }
    &__column {
      padding-top: 45px;
      border-bottom: 1px solid #b4d1e0;
      min-height: 219px;
    }
    &__wrappAuthor {
      display: flex;
      margin-top: 15px;
    }
    &__wrappName {
      margin-left: 10px;
      color: #d1e2eb;
      font-size: 14px;
      font-style: normal;
      line-height: 20px;
    }
    &__post {
      font-size: 12px;
      line-height: 15px;
    }
    &__readMore {
      padding-top: 11px;
      text-align: center;
      height: 45px;
      border-top: 1px solid #b4d1e0;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 30px;
    max-width: 847px;
    max-height: 770px;
  }
  &__item1 {
    grid-area: 1 / 1 / 3 / 3;
    position: relative;
    padding: 35px 35px 0 35px;
    min-height: 370px;
    background-color: #fff;
    border-radius: 10px;
    &__mainTitle {
      margin-top: 20px;
      max-width: 238px;
      color: var(--base-grey-100, #262d33);
      font-family: Roboto Slab;
      font-size: 25px;
      font-weight: 700;
      line-height: 30px;
    }
    &__carImg {
      position: absolute;
      right: 0;
    }
    &__wrappAuthor {
      position: relative;
      display: flex;
      align-items: center;
      padding: 12px 0;
      margin-top: 49px;
      border-top: 1px solid #d9dadb;
      z-index: 1;
    }
    &__name {
      color: var(--base-grey-100, #262d33);
      font-family: Lato;
      margin-right: 5px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
    &__authorImg {
      margin-right: 10px;
    }
    &__text {
      margin-right: 15px;
    }
    &__iconMessage {
      margin-right: 5px;
    }
    &__descr {
      position: relative;
      margin-top: 25px;
      width: 228px;
    }
  }
  &__item2 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: aliceblue;
  }
  &__item3 {
    grid-area: 1 / 3 / 3 / 4;
    background-color: aliceblue;
    background: url("../../assets//img/bgInteresting.png");
    border-radius: 10px;
    position: relative;
    padding: 0 47px 25px 25px;
    max-width: 263px;
    max-height: 370px;
    &__popular {
      position: absolute;
      top: 18px;
      left: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 66px;
      height: 25px;
      border-radius: 3px;
      background: #3dc47e;
      color: #fff;
      font-size: 12px;
    }
    &__titlePopular {
      margin-top: 160px;
      color: #e7d9ff;
      font-family: Lato;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
    &__subtitlePopular {
      max-width: 203px;
      margin-top: 10px;
      color: #fff;
      font-family: Roboto Slab;
      font-size: 16px;
      font-weight: 700;
      line-height: 25px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
    &__wrappAuthor {
      display: flex;
      margin-top: 15px;
      align-items: center;
    }
    &__wrappData {
      display: flex;
    }
    &__wrappName {
      margin-left: 10px;
    }
    &__name {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      opacity: 0.85;
    }
    &__imgMessage {
      margin-left: 10px;
      margin-right: 5px;
      opacity: 0.4;
    }
    &__imgHeart {
      margin-left: 10px;
      margin-right: 5px;
    }
  }
  &__item4 {
    grid-area: 3 / 1 / 5 / 2;
    background-color: white;
    border-radius: 10px;
    &__title {
      padding: 15px 25px 30px 25px;
    }
    &__img {
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
    }
  }
  &__subtitle {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  &__item5 {
    grid-area: 3 / 2 / 4 / 3;
    background-color: white;
    padding: 25px 25px 30px 25px;
    border-radius: 10px;
  }
  &__item6 {
    grid-area: 3 / 3 / 4 / 4;
    background-color: white;
    padding: 25px 25px 30px 25px;
    border-radius: 10px;
  }
  &__item7 {
    grid-area: 4 / 3 / 5 / 4;
    background-color: white;
    padding: 25px 25px 30px 25px;
    border-radius: 10px;
  }
  &__item8 {
    grid-area: 4 / 2 / 5 / 3;
    background-color: white;
    padding: 25px 25px 30px 25px;
    border-radius: 10px;
  }
}
