.app {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  background: #edeff0;
  height: 100%;
  &__bg {
    margin-top: 190px;
    position: absolute;
    background-color: #262d33;
    width: 100%;
    min-height: 475px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}
