.fs-12 {
  color: #939699;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}

.fs-14 {
  color: #4b5157;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.fs-16 {
  color: #262d33;
  font-family: Roboto Slab;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
