@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: unset;
}

input {
  all: unset;
  outline: none;
}

// p {
//   all: unset;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}
