.footer {
  min-height: 795px;
  background-color: #fff;
  &__subscribe {
    position: relative;
    padding: 60px 0 70px 0;
    &__wrappInput {
      display: flex;
      justify-content: space-between;
      margin: 25px auto;
      max-width: 444px;
      height: 40px;
    }
    &__input {
      width: 283px;
      border-radius: 5px;
      border: 1px solid var(--base-grey-15, #d9dadb);
      padding-left: 15px;
      padding-right: 15px;
      background: var(--base-white, #fff);
    }
    &__button {
      width: 119px;
      height: 40px;
      border-radius: 20px;
      background: #4592ff;
      color: #fff;
      text-align: center;
    }
    &__colorLine {
      width: 195px;
      height: 5px;
    }
    &__wrappLine {
      display: flex;
      position: absolute;
      bottom: 0;
    }
  }
  &__info {
    margin-top: 35px;
    display: flex;

    :last-child {
      margin-right: 0px;
    }
    &__title {
      margin-bottom: 25px;
      color: #262d33;
      font-family: Lato;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
    }
    &__item {
      margin-bottom: 15px;
      min-width: 165px;
      margin-right: 30px;
    }
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 109px;
    border-top: 1px solid #d9dadb;
    border-bottom: 1px solid #d9dadb;
    &__wrappInfo {
      width: 575px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__wrappSocial {
      display: flex;
      justify-content: space-between;
      min-width: 205px;
    }
  }
  &__descr {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    &__title {
      max-width: 750px;
      color: #939699;
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
}
